<app-home (numberArrayEmitter)="receiveNumberArrayFromChild($event)"  [dataFrommain]=""></app-home>
 
 

<p>Received Array in Parent Component: {{ parentNumberArray }}</p>
  
<app-home2
  [dataFromParent]="parentNumberArray"
  (oddNumbersEmitter)="receiveOddNumbersFromChild($event)"
  (evenNumbersEmitter)="receiveEvenNumbersFromChild($event)"
></app-home2>







<p>Received Odd Numbers in Parent Component: {{ parentOddNumbers.join(', ') }}</p>
<p>Received Even Numbers in Parent Component: {{ parentEvenNumbers.join(', ') }}</p>
