<app-home [oddNumbers]="parentOddNumbers" [evenNumbers]="parentEvenNumbers" (numberArrayEmitter)="receiveNumberArrayFromChild($event)" ></app-home>
  

<!-- <p>Received Array in Parent Component: {{ parentNumberArray }}</p> -->
  
<app-home2
  [dataFromParent]="parentNumberArray"
  (oddNumbersEmitter)="receiveOddNumbersFromChild($event)"
  (evenNumbersEmitter)="receiveEvenNumbersFromChild($event)"
></app-home2>







<!-- <p>Received Odd : {{ parentOddNumbers }}</p>
<p>Received Even : {{ parentEvenNumbers }}</p> -->